h1{
    text-align: center;
}

body {
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;
    background-color: lightgray;    
  }

.grid-container {
    display: grid;
    grid-template-rows: auto auto; /* 2 rows */
    grid-template-columns: repeat(3, 1fr); /* 3 cols */
    gap: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
}

.bl-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.project-pics {
    display: flex;
    justify-content: space-between; 
}

.project_pic {
    max-width: 50%; 
}

.mp-pics{
  text-align: center;
  margin: 0 auto; /* Center the div horizontally on the page */
}
.mp-pics img {
  max-width: 100%; /* Make sure the image doesn't exceed its container's width */
  height: auto; /* Maintain the aspect ratio */
  width: 700px; /* Set a specific width for the image, adjust as needed */
}

.third{
    width: 640px;
    height: 230px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.project_pic {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: teal;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: black;
  }
  
  .active {
    background-color: teal;
  }

  div.intrests {
    text-indent: 50px;
  }

  #scrollToTopBtn {
    display: none;
    position: center;
    bottom: 20px;
    padding: 10px 20px;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}